:root {
  --accent-bright: rgb(159, 239, 0);
  --accent-dull: rgb(135, 210, 0);

  --hover-dark: rgb(51, 64, 93);

  --bg-light: rgb(26, 35, 50);
  --bg-mid: rgb(20, 29, 43);
  --bg-dark: rgb(17, 25, 39);

  --text-bright: rgb(232, 230, 227);
  --text-dull: rgb(158, 179, 202);
}


* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: monospace;
  font-size: 1rem;
}

body, html {
  /* width: 100%;
  height: 100vh; */
  background-color: var(--bg-mid);
  scrollbar-color: transparent transparent;
  scrollbar-width: auto;
}

/* body {
  border: 2px solid red;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


*::-webkit-scrollbar-track {
  width: 5px;
}
 
*::-webkit-scrollbar-thumb {
  background-color: lime;
}

body::-webkit-scrollbar-thumb {
  background-color: lime;
}

::-webkit-scrollbar,   
::-webkit-scrollbar-button, 
::-webkit-scrollbar-track,  
::-webkit-scrollbar-track-piece,  
::-webkit-scrollbar-thumb,  
::-webkit-scrollbar-corner,  
::-webkit-resizer {
  display: none;
}